body {
    font: 10pt Arial, Helvetica, sans-serif; /* Шрифт на веб-странице */
    background: linear-gradient(270deg, #FFF59D, #c89a1e, #ff5733, #ff0000); /* Переливающийся фон */
    height: 100vh; 
    margin: 0; 
    animation: gradientAnimation 5s ease infinite; /* Анимация градиента */
    text-align: center; /* Выравнивание текста по центру */
}

@keyframes gradientAnimation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

a {
    color: black;      
    transition: color 0.3s ease; 
}

a:visited {
    color: rgb(0, 0, 0); 
}

a:hover {
    text-decoration: none; 
    color: rgb(101, 243, 7); 
}

h1, h2 {
    text-align: center; 
    color: #333; 
}

h2 {
    font-size: 1.1em; /* Размер шрифта */
    color: #800040; /* Цвет текста */
    margin-top: 0; /* Отступ сверху */
}

#container {
    width: 500px; /* Ширина слоя */
    margin: 0 auto; /* Выравнивание по центру */
    background: #f0f0f0; /* Цвет фона контейнера */
}

#header {
    font-size: 2.2em; /* Размер текста */
    text-align: center; /* Выравнивание по центру */
    padding: 5px; /* Отступы вокруг текста */
    background: #8fa09b; /* Цвет фона шапки */
    color: #ffe; /* Цвет текста */
}

#sidebar {
    margin-top: 10px;
    width: 110px; /* Ширина слоя */    
}

#content {
    padding: 10px; /* Поля вокруг текста */
    background: #fff; /* Цвет фона правой колонки */
}

#footer {
    background: #8fa09b; /* Цвет фона подвала */
    color: #fff; /* Цвет текста */
    padding: 5px; /* Отступы вокруг текста */
}

p {
    color: #333;
}

main {
    background: white; 
    padding: 20px; 
    border-radius: 8px; 
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); 
}

footer {
    text-align: left; 
    margin-top: 20px; 
    color: #777; 
}

.scroll-to-top {
    position: fixed; 
    bottom: 20px; 
    right: 20px; 
    background-color: #316c54;  
    color: white; 
    border: none; 
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 15px; 
    cursor: pointer; 
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.scroll-to-top:hover {
    background-color: #c89a1e; 
    transform: scale(1.05); 
}

.scroll-to-top:focus {
    outline: none; 
}

.gallery {
    position: relative;
    display: inline-block;
    margin: 10px;
}

.gallery img {
    width: 150px; 
    height: auto;
    transition: 0.3s; 
}

.caption {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7); 
    color: white;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s;
}

.gallery:hover .caption {
   opacity: 1;
}

img {
   border-radius: 30%; 
   border-width :3px ;
   border-style:dotted ;
   border-color : blue ;
   width :100px ;
   height:auto ;
}

.menu a {
   color:#ff5733 ;  
   text-decoration:none ;  
   font-weight:bold ;  
}

.menu a:hover {
   color:#c70039 ;  
   text-decoration : underline ;  
}

table {
   width :100% ;  
   border-collapse :collapse ;  
   margin :20px auto ;  
   font-family :'Arial', sans-serif ;
}
th, td {
   border :3px solid #3700ff ;  
   padding :10px ;  
   text-align :left ;  
}
th {
   background-color :#e70808 ;  
   color:white ;  
}
tr:nth-child(even) {
   background-color :#ffffff ;  
}
tr:hover {
   background-color :#ffa600 ;  
}
.menu a.external-link {
   color:#e74c3c ;  
   font-weight:bold ;  
}
.menu a.external-link:hover {
   text-decoration :underline ;  
}
div.gallery{
   width :160px ;
   height :100% ;
}
input[type]:focus{
   background-color:#3a0008 ;
}
nav{
   text-align:left ;
}
nav ul li{
    list-style: url(маркер.png);
}
nav ul li:visited {
   padding: 0px;
   list-style: url(маркер2.jpg);
}

nav ul li:hover {
    padding: 10px;
    list-style: url(маркер2.jpg);
}
.erer{
    background-color: rgb(255, 255, 255);
    color: black;
}